@using System.Web;
@using System.Web.Optimization;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content/css")
    <link href="@Styles.Url("~/Content/kendo/2014.1.416/kendo.common-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/kendo/2014.1.416/kendo.bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")"></script>
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Application Title</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="#/details"><i class="fa fa-ellipsis-h"></i> Details</a></li>
                    <li class="dropdown">
                        <a onclick="return false" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-code"></i> Samples <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/samples/listview"> ListView</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="http://telerik.com/kendo-ui" target="_blank">Kendo UI By Telerik</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view></div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="@Url.Content("~/Scripts/require.js")" data-main="App/main.js"></script>
</body>
</html>
